langchain-groq==0.3.2
pypdf==5.3.0
langchain-core==0.3.51
python-dotenv==1.0.1
langfuse==2.59.4
langchain==0.3.19
streamlit==1.42.2
python-docx==1.1.2
psycopg==3.2.5
psycopg-binary==3.2.6
beautifulsoup4==4.13.3
sqlalchemy==2.0.40
